body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ebebeb;
}

header {
  background-color: orange; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%; 
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

h1.texto-logo {
    font-size: 50px; 
    font-weight: bold;
    color: #000;
    margin: 0; 
    padding: 0;
    letter-spacing: -2px;
}

/* ESTILIZAÇÃO DOS BOTÕES DA HEADER */
.header-opcoes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.botao-header, .botao-header-carrinho {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.botao-header:hover, .botao-header-carrinho:hover {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.2);
}

.linha-1 { font-size: 12px; font-weight:bold;} 
.linha-2 { font-size: 14px; font-weight: bold; }

.botao-header-carrinho {
    flex-direction: row; 
    align-items: flex-end; 
    gap: 5px; 
}

.carrinho-container {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrinho-icone {
    height: 35px; 
    width: auto;
}

.contagem {
    position: absolute;
    top: -8px; 
    color: #e47911; 
    font-weight: bold;
    font-size: 16px;
    background-color: transparent; 
}

.texto-carrinho {
    font-weight: bold;
    font-size: 14px;
}

/* --- MENU LATERAL AUMENTADO  --- */
.conteudo { display: flex; }

nav.menu-lateral {
  flex: 1.5; 
  background-color: orange;
  min-height: 80vh;
  padding: 0;
}

nav.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.menu-lateral li {
    border-bottom: 1px solid black;
}

nav.menu-lateral a {
    display: block;
    padding: 20px;
    color: white; 
    text-decoration: none;
    font-weight: bold;
    font-size: 30px; 
    transition: 0.3s;
}

nav.menu-lateral a:hover {
    background-color: black;
}

/* --- ÁREA PRINCIPAL --- */
main {
  flex: 3.5; 
  background-color: white;
  display: flex;
  padding: 20px;
}

section { width: 70%; padding-right: 15px; text-align: justify; }

aside {
    width: 30%;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 400px; 
}

/* --- BOTÃO COM HOVER FLUTUANTE --- */
.botao-conferir {
    background-color: #333;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    display: block; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.botao-conferir:hover {
    background-color: #e47911; 
    transform: translateY(-3px); 
    box-shadow: 0 8px 15px rgba(0,0,0,0.2); 
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}