
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container { flex: 1; }

/* --- HEADER E CARRINHO --- */
header {
  background-color: orange; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%; 
}

.logo-link { text-decoration: none; color: inherit; }
.logo-box { display: flex; align-items: center; gap: 12px; }

h1.texto-logo {
    font-size: 50px; 
    font-weight: bold;
    color: #000;
    margin: 0; 
    letter-spacing: -2px;
}

.header-opcoes { display: flex; align-items: center; }

.botao-header-carrinho {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    transition: 0.2s;
}

.botao-header-carrinho:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
}

.carrinho-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrinho-icone { height: 35px; width: auto; }

.contagem {
    position: absolute;
    top: -8px;
    color: #e47911;
    font-weight: bold;
    font-size: 16px;
}

.texto-carrinho { font-weight: bold; font-size: 14px; }

/* --- MENU LATERAL  --- */
.conteudo { display: flex; }

nav.menu-lateral {
    width: 25%;
    background-color: orange;
    min-height: 80vh;
    padding: 0;
}

nav.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.menu-lateral li {
    border-bottom: 1px solid black;
}

nav.menu-lateral a {
    display: block;
    padding: 15px 20px;
    color: white; 
    text-decoration: none;
    font-weight: bold;
    font-size: 24px; 
    transition: 0.3s;
}

nav.menu-lateral a:hover {
    background-color: black;
}

/* --- ÁREA PRINCIPAL --- */
main {
  width: 75%;
  background-color: white;
  display: flex;
  padding: 20px;
}

section { width: 70%; padding-right: 15px; }

section img {
    max-width: 600px;
    width: 100%;       
    height: auto;      
    display: block;    
    margin: 0 auto 30px auto; 
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15); 
    border: 1px solid #ddd;
}

/* --- ASIDE E BOTÃO COMPRAR  --- */
aside {
    width: 30%;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 500px; 
}

.valor-produto {
    font-size: 38px;
    color: #B12704;
    font-weight: bold;
    margin: 10px 0;
}

.botao-conferir {
    background-color: #333;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.botao-conferir:hover {
    background-color: #e47911; 
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* --- RODAPÉ --- */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px 0;
  width: 100%;
}